/* - Animación y clases de números que caen - */

body {
    overflow: hidden;
}

.falling-number {
    position: absolute;
    top: 0;
    font-size: 2rem;
    z-index: -1;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    animation: fall 5s linear infinite;
}

@keyframes fall {
    from {
        transform: translateY(-10vh) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}
.num1 { left: 10%; animation-duration: 4s; }
.num2 { left: 30%; animation-duration: 5s; font-size: 1.5rem;}
.num3 { left: 50%; animation-duration: 6s; }
.num4 { left: 70%; animation-duration: 4.5s; font-size: 3.5rem;}
.num5 { left: 90%; animation-duration: 5.5s; }

/* - Animación y clases de botones intermitentes - */

@keyframes waveColor {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #6710f22c;
    }
    100% {
        background-color: transparent;
    }
}

.btn-wave {
    padding: 25px 40px;
    border-radius: 10px;
    animation: waveColor 3s infinite;
}
.btn-wave:hover {
    background-color: blue !important;
    animation: none;
}

.btn:nth-of-type(1) {
    animation-delay: 0s;
}
.btn:nth-of-type(2) {
    animation-delay: 0.05s;
}
.btn:nth-of-type(3) {
    animation-delay: 0.1s;
}
.btn:nth-of-type(4) {
    animation-delay: 0.15s;
}
.btn:nth-of-type(5) {
    animation-delay: 0.20s;
}
.btn:nth-of-type(6) {
    animation-delay: 0.25s;
}
.btn:nth-of-type(7) {
    animation-delay: 0.30s;
}
.btn:nth-of-type(8) {
    animation-delay: 0.35s;
}
.btn:nth-of-type(9) {
    animation-delay: 0.40s;
}
.btn:nth-of-type(10) {
    animation-delay: 0.45s;
}
.btn:nth-of-type(11) {
    animation-delay: 0.50s;
}