<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Chat Message</title>
</head>
<body>
    <th:block th:fragment="chat-message(mensaje)">
        <div class="message-container d-flex flex-column">
            <div class="info-container d-flex gap-2">
                <p class="user-emisor" th:text="${mensaje.autor.nombre}"></p>
                <!-- <p class="timestamp" th:text="${#dates.format(mensaje.fechaHora, 'HH:mm')}"></p> -->
            </div>
            <p class="message-text" th:text="${mensaje.contenido}"></p>
        </div>
        
    </th:block>  
</body>
</html>