<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div th:fragment="navbar-facciones" class="navbar-facciones">
        <ul>
            <li><a href="#humanos">Humanos</a></li>
            <li><a href="#dragones">Dragones</a></li>
            <li><a href="#trolls">Trolls</a></li>
            <li><a href="#noMuertos">No Muertos</a></li>
            <li><a href="#legendarios">Legendarios</a></li>
            <li><a href="#objetos">Objetos</a></li>
        </ul>
    </div>
</body>

</html>