<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shop Unit</title>
</head>
<body>
    <th:block th:fragment="heroe(object)">
        <div class="shop-unit d-flex flex-column gap-2">

            <!-- Valor -->
            <div th:replace="~{fragments/stars-value :: stars-value(${object.price})}"></div>
            
            <!-- Imagen de unidad -->
            <img th:if="${object.Imagen != null}" th:src="@{${object.imagen}}" class="shop-unit-game-img">
            
        </div>
    </th:block>
</body>
</html>
