<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shop Item</title>
</head>
<body>
    <th:block th:fragment="item(object)">
        <div class="object-cell object-shop">

            <!-- Valor -->
            <div th:replace="~{fragments/stars-value :: stars-value(${object.price})}"></div>

            <!--Imagen del objeto -->
            <img th:if="${object.imageUrl != null}" th:src="@{${object.imageUrl}}" alt="" class="object-img">

        </div>
    </th:block> 
</body>
</html>