@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

:root {

    /* FUENTES */
    --TITLE-FONT-FAMILY: "Jacquard 12", serif;
    --TEXT-FONT-FAMILY: "Times New Roman", Times, serif;

    /* COLORES */
    --COLOR-DARK-1: rgb(33, 37, 41);
}

body {
    font-family: var(--TEXT-FONT-FAMILY);
    color: var(--COLOR-DARK-1);
}

.title {
    font-family: var(--TITLE-FONT-FAMILY);
}



.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

/* PÁGINA DE INICIO */

#homepage-main-container {
    width: 100%;
    height: 70%;
}

#title {
    font-family:  var(--TEXT-FONT-FAMILY);
    margin-bottom: 0;
}

#keywords-container {
    margin-top: -15px;
    font-weight: bold;
}

#homepage-animation-container {
    position: absolute;
    top: 400px;
    width: 600px;
    height: 100px;
    gap: 30px;
}

#homepage-sword {
    position: absolute;
    z-index: -2;
    opacity: 0.15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg) scale(120%);
}

#homepage-island {
    pointer-events: none;
    width: 600px;
}

/*
#homepage-castle {
    width: 200px;
    pointer-events: none;
    position: absolute;
    top: -80px;
    right: 50px;
}
*/

#homepage-character-container {
    border-radius: 15px;
    width: 80px;
    border: 1px solid rgb(0, 0, 0);
}

#homepage-character {
    pointer-events: none;
    padding: 0;
}


#particulas {
    width: 200px;
    overflow: hidden;
}

.particula {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    animation: subir 3s linear infinite;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

@keyframes subir {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

/* Degradado en la parte inferior */
.degradado {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgb(247, 230, 199), rgba(230, 205, 173, 0));
    pointer-events: none;
    z-index: -1;
}

/* RANKING */
#ranking-main-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

#title-ranking {
    font-family: "Uncial Antiqua", serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #4b3832;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.9);
}

#ranking-description {
    font-family: "EB Garamond", serif;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido */
    border: 3px solid #8c7b75;
    border-radius: 12px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    width: 80%;
    max-width: 1000px;
    text-align: center;
    position: relative;
    margin: 0 auto; /* Centra el contenedor en la página */
}

#ranking-container h1 {
    font-size: 2.5em;
    color: #efb810;
    margin-bottom: 15px;
    font-family: "Uncial Antiqua", serif;
}

/* Contenedor que centra la tabla */
#ranking-table-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    width: 80%; /* Ajuste para que no ocupe todo el ancho */
    max-width: 800px;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.85);
    position: relative;
    margin: 0 auto; /* Centrar la tabla */
}

table::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/ranking/castle_background.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

th, td {
    padding: 12px;
    border: 1px solid #8c7b75;
    text-align: center;
    font-size: 1.1rem;
    color: #1a1a1a;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

th {
    background-color: rgba(232, 226, 212, 0.9);
    color: #4b3832;
    font-size: 1.2em;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgba(244, 240, 230, 0.9);
}

tr:hover {
    background-color: rgba(221, 221, 221, 0.9);
}

td img.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 8px;
}

#ranking-castle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 75vh;
    opacity: 0.8;
    z-index: -2;
}

/* GALERIA INICIO*/

/* Estilos generales para la galería */
#heroes-gallery {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

#heroes-gallery h1 {
    font-family: "Jacquard 12", serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

#gallery-description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

/* Estilo de la tarjeta de héroe */

.card {
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;  /* Establecer un ancho fijo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 150px;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.card-description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
    margin-top: 10px;
}

/* Asegura que las tarjetas se distribuyan en múltiples filas y se ajusten al tamaño de pantalla */
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 250px;  /* Ajustar tamaño para pantallas pequeñas */
        margin-bottom: 20px;
    }
}
#img-gallery-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.08;
    width: 30%;
    height: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/* GALERIA FIN */

/* AUTORES INICIO */

#tituloAutores {
    padding: 15px;
}

.autores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos en el contenedor */
    gap: 20px; /* Espaciado entre cada tarjeta de autor */
    text-align: center; /* Asegura que el texto dentro de cada autor esté centrado */
    
}

.autor {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro de cada autor */
    max-width: 250px; /* Controla el ancho de cada tarjeta de autor */
    padding: 15px;
    background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.autor-img {
    width: 120px; /* Ajusta el tamaño de la imagen del autor */
    height: 120px;
    border-radius: 50%; /* Hace la imagen circular */
    margin-bottom: 10px;
}

.autor h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #fff; /* Asegura un buen contraste de color */
}

.autor p {
    font-size: 1rem;
    color: #ddd;
    max-width: 200px;
}

.arte {
    margin-top: 40px;
}

/* AUTORES FIN */


/*REGLAS INICIO*/

#rules-title {
    font-family:  var(--TITLE-FONT-FAMILY);
    text-align: center;
}
  
/* Alinear los botones de navegación horizontalmente */
.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom:5px;
}
  

.flecha{
    max-width: 35px;
}

#index-button {
    display: inline-block;; 
    margin: 15px auto; 
}


.stats{
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Fondo más oscuro cuando está activo */
    color: white !important; /* Asegura que el texto sea blanco en estado activo */
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1); /* Asegura que siga blanca cuando está activo */
}

.link {
    color: #55a961;
}

#rules-container, #credits-container {
    max-width: 800px;
}


/*REGLAS FIN*/

.stat {
    max-width: 100%;
}

.unit-img {
    width: 200px !important;
}

/*COMIEZNO PROFILE*/
/* Estilos generales */
body .profile-body{
    background-image: url('/img/homepage/sword.png');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'Uncial Antiqua', serif;
}

/* Encabezado del perfil */
.profile-header {
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 100px;
}

/* Información del perfil (nombre e imagen) */
.profile-info {
    text-align: left;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.profile-info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid gold;
    display: block;
}

/* Barra de búsqueda de jugador */
.search-player {
    margin-right: 20px;
    color:black;
}

.search-player input {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    width: 250px;
    color: black;
}

/* Contenedor de estadísticas del perfil */
.profile-stats {
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
}

/* Elementos de estadísticas */
.stat-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-item img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.chart-container {
    width: 180px;
    height: 180px;
}

/*FINAL PROFILE*/

/* JUEGO INICIO */
.game-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#prototype-game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que se muestre el scroll */
}

#game-page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.game-page .degradado { /* POR SI QUIERO MODIFICARLO UN POQUITO VALE */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Degradado chido */
    height: 150px; /* Altura del degradado */
    border-radius: 0 0 20px 20px; /* Bordes redondeados abajo */
}
/* JUEGO FIN */


/* --- PARTIDA --- */

#round-info-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

#round-name {

    width: 200px;
    height: 40px;

    background-color: var(--COLOR-DARK-1);
    color: white;
    border-radius: 0px 0px 10px 10px;
}

#round-timer {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);

    width: 100px;
    height: 30px;

    background-color: #feb47b;
    color: white;

    border-radius: 0px 0px 10px 10px;
}

#player-objects-container {
    width: 80px;
    height: 440px;

    position: absolute;
    top: 100px;
    left: 0;

    background-color: var(--COLOR-DARK-1);
    border-radius: 0px 10px 10px 0px;
}

#opponents-info-container {
    width: 80px;
    height: 440px;

    position: absolute;
    top: 100px;
    right: 0;

    background-color: var(--COLOR-DARK-1);
    border-radius: 10px 0px 0px 10px;
}

.object-cell {
    width: 35px;
    height: 35px;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
}

.object-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#players-units-container {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%);

    width: 1300px;
    height: 200px;

    justify-content: center;
    gap: 100px;
}

@media (max-width: 1199px) {
    
    #players-units-container {
        top: 100px;
        gap: 80px;
        width: 100%;
    }

    #player-profiles-container {
        gap: 300px !important;
    }

    .unit-object-container {
        flex-direction: column;
        position: absolute;
    }

    #player-units-container .unit-object-container {
        top: 0px;
        left: -30px;
    }

    #opponent-units-container .unit-object-container {
        top: 0px;
        right: -30px;
    }

    .missing-unit {
        height: 105px !important;
        width: 85px !important;
        margin: 5px 0px !important;
    }

    #game-versus {
        top: 160px !important;
        font-size: 3rem !important;
    }

    #player-stats-container {
        flex-direction: row !important;
        height: 50px !important;
        width: 200px !important;
    }

    .unit-game-img {
        width: 95px !important;
    }

    .unit-name {
        font-size: 0.75rem !important;
    }

    .unit-stats {
        height: 20px;
    }

    .unit-container .progress {
        top: 15px !important;
        height: 10px !important;
    }

    #player-profile-container, #opponent-profile-container {
        width: 110px;
    }

    .shop-unit {
        height: 100px !important;
        width: 120px !important;
    }
    
    #shopOffcanvas {
        max-width: 250px;
    }

    #message-input-chat {
        width: 300px !important;
    }


}

.media-btn {
    position: fixed;
    bottom: 0px;
    width: 100px;
    height: 50px;
    background-color: var(--COLOR-DARK-1);
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.media-btn:hover {
    background-color: burlywood;
    transition: 0.3s;
    color: var(--COLOR-DARK-1);
}

#shop-media-btn {
    border-radius: 0 10px 0 0;
}

#chat-media-btn {
    right: 0px;
    border-radius: 10px 0 0 0;
}


#players-units-container .object-cell {
    border-color: var(--COLOR-DARK-1);
}

.unit-container {
    text-align: center;
    position: relative;
}

.missing-unit {
    margin: 0px 5px;

    width: 105px;
    height: 190px;
    border: 1px solid var(--COLOR-DARK-1);
    border-style: dashed;
    border-radius: 10px;
    animation: blink 3s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.6;
    }
}

.unit-stats {
    position: relative;
}

.unit-container .progress {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 70px !important;
    height: 15px;
    top: 25px;

}

.unit-life {
    width: 80px;
}

.unit-game-img {
    width: 115px;
}

.shop-unit-game-img {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#opponent-units-container .unit-game-img {
    transform: rotateY(180deg);
}

#game-versus {
    font-family: var(--TITLE-FONT-FAMILY);
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%);

    font-size: 4rem;
}



#player-units-container {
    justify-content: flex-end !important;
}

#player-profiles-container {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translate(-50%);
    gap: 175px;
}

#player-profiles-container h3 {
    font-family: var(--TITLE-FONT-FAMILY);
}

.section-title {
    font-family: var(--TITLE-FONT-FAMILY);
    position: absolute;
    top: -40px;
}

#shop-container {

    width: 600px;
    height: 200px;
    background-color: var(--COLOR-DARK-1);

    position: fixed;
    bottom: 0px;
    left: 0;

    border-radius: 0 10px 0 0;
    padding: 20px;

}

#shop-container .section-title {
    right: 10px;
}

#chat-container .section-title {
    left: 10px;
}

.shop-unit {
    position: relative;
    width: 100px;
    height: 150px;
    border: 1px solid white;
    border-radius: 10px;
}

.shop-unit:hover, .object-cell:hover, #refresh-container:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: inset 0px 0px 15px 5px rgba(255, 255, 255, 0.8);
}


.shop-value-container {
    color: whitesmoke;
    width: 40px;
    background-color: var(--COLOR-DARK-1);
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 5px;
    gap: 4px;
}

#player-stats-container .shop-value-container {
    border: 1px solid whitesmoke;
    position: initial;
}

.light-text {
    color: whitesmoke;
    margin: 0;
}

.value-num {
    height: 10px;
}

.value-img {
    margin: 0 !important;
}

.object-shop {
    position: relative;
    width: 50px !important;
    height: 50px !important;
}

#refresh-container {
    width: 120px;
    height: 50px;
    position: relative;
    color: white;
    background-color: rgba(0, 10, 191, 0.322);
    border: 1px solid white;
    border-radius: 10px;    

}

#refresh-container:hover #refresh-icon {
    transform: rotate(360deg);
    transition:0.5s ease-in-out;
}


#refresh-container .shop-value-container {
    top: 50px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
}

#player-stats-container {
    width: 70px;
    height: 200px;
    background-color: var(--COLOR-DARK-1);

    position: fixed;
    z-index: 20;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    border-radius: 10px 10px 0 0;

    align-items: end;
}

#game-position {
    color: white;
    font-weight: bold;
    margin-bottom: 0 !important;
}

#chat-container {

    width: 600px;
    height: 200px;
    background-color: var(--COLOR-DARK-1);

    position: fixed;
    bottom: 0;
    right: 0;

    border-radius: 10px 0 0 0;
    padding: 20px;

}

#game-messages-container {
    color:whitesmoke !important;
    height: 120px;
    overflow-y: auto;
    padding-right: 10px;
}

.info-container {
    align-items: baseline;
    height: 24px;
}

.user-emisor {
    font-weight: bold;
}
.timestamp {
    font-size: 0.8rem;
}

.message-text {
    font-size: 0.8rem;
    opacity: 0.7;
} 

#message-input-chat {

    position: fixed;
    bottom: 20px;
    right:80px;
    width: 500px;
    height: 35px;
    color: whitesmoke;

    background-color: transparent;

    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 7px;
    font-size: 0.8rem;
    opacity: 0.7;
}

/* --- LOGIN --- */

#login-container {
    margin-top: 100px;
}
.form-signin-heading {
    font-family: var(--TITLE-FONT-FAMILY);
}

#login-btn {
    border: 1px solid #55a961;
    color: #55a961;
}

#login-btn:hover {
    color: white;
    background-color: var(--COLOR-DARK-1);
    transition: 0.5s;
}


/*ADMIN*/
.sectionContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
}
.section {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.section h2 {
    margin-bottom: 20px;
}

.divider {
    margin: 40px 0;
    border-top: 2px solid #ddd;
}

.adminTitle{
    font-family: "Uncial Antiqua", serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top:20px;
    margin-left:50px;
}

#partidas-actuales { order: 1; }
#usuarios-reportados { order: 2; }
#partidas-terminadas { order: 3; }
#busqueda-perfiles { order: 4; }

#credits-info-container {
    justify-content: center;
    gap: 70px;
    border: 1px solid var(--COLOR-DARK-1);
    border-radius: 10px;
    padding: 20px 40px;
}

.tooltip-box {
    position: absolute;

    left: 100px;
    color: blue;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    width: 150px;
    display: none;
    z-index: 10;
}

.object-cell:hover .tooltip-box {
    display: block;
}