@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

/* PÁGINA DE INICIO */

#homepage-main-container {
    width: 100%;
    height: 70%;
}

#title {
    font-family:  "Jacquard 12", serif;
    margin-bottom: 0;
}

#keywords-container {
    margin-top: -15px;
    font-weight: bold;
}

#homepage-animation-container {
    position: absolute;
    top: 400px;
    width: 600px;
    height: 100px;
    gap: 30px;
}

#homepage-sword {
    position: absolute;
    z-index: -2;
    opacity: 0.15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg) scale(120%);
}

#homepage-island {
    pointer-events: none;
    width: 600px;
}

/*
#homepage-castle {
    width: 200px;
    pointer-events: none;
    position: absolute;
    top: -80px;
    right: 50px;
}
*/

#homepage-character-container {
    border-radius: 15px;
    width: 80px;
    border: 1px solid rgb(0, 0, 0);
}

#homepage-character {
    pointer-events: none;
    padding: 0;
}


#particulas {
    width: 200px;
    overflow: hidden;
}

.particula {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    animation: subir 3s linear infinite;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

@keyframes subir {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

/* Degradado en la parte inferior */
.degradado {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgb(231, 206, 160), rgba(230, 205, 173, 0));
    pointer-events: none;
    z-index: -1;
}

/* RANKING */
#ranking-main-container {
    width: 100%;
    height: 70%;
}
#title-ranking{
    font-family:  "Jacquard 12", serif;
    position: absolute;
    top: 20px; /* Ajusta según necesites */
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem; /* Ajusta el tamaño si es necesario */
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#ranking-description {
    font-family:  "Ancient", serif;
    font-size: 1.2rem;
    color: #555;
}

@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body {
    font-family: 'Uncial Antiqua', serif;
    background-color: #f9f6f1;
    color: #2d2b26;
}

#ranking-container {
    border: 2px solid #8c7b75;
    border-radius: 8px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#ranking-container h1 {
    font-size: 2em;
    color: #efb810;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

table::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/ranking/castle_background.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.9; /* Ajusta la opacidad solo del fondo */
    z-index: -1;
}


th, td {
    padding: 10px;
    border: 1px solid #8c7b75;
    text-align: center;
    color: #1a1a1a;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
}

th {
    background-color: rgba(232, 226, 212, 0.8);
    color: #4b3832;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: rgba(244, 240, 230, 0.8);
}

tr:hover {
    background-color: rgba(221, 221, 221, 0.8);
}

td img.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
#ranking-castle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 75vh; /* Ocupa 3/4 de la pantalla */
    opacity: 0.9;
    z-index: -2;
}

/* GALERIA INICIO*/

/* Estilos generales para la galería */
#heroes-gallery {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

#heroes-gallery h1 {
    font-family: "Jacquard 12", serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

#gallery-description {
    font-family: 'Uncial Antiqua', serif;
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

/* Estilo de la tarjeta de héroe */
.card {
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;  /* Establecer un ancho fijo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.card-description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
    margin-top: 10px;
}

/* Asegura que las tarjetas se distribuyan en múltiples filas y se ajusten al tamaño de pantalla */
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 250px;  /* Ajustar tamaño para pantallas pequeñas */
        margin-bottom: 20px;
    }
}


/* GALERIA FIN */

/*REGLAS INICIO*/


#titulo {
    font-family:  "Jacquard 12", serif;
    position: absolute;
    top:55px; /* Ajusta según necesites */
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem; /* Ajusta el tamaño si es necesario */
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.apartado{
    text-align: left;
    font-family: 'Uncial Antiqua', serif;
    font-size:25px;
    margin-top:25px;
}

.regla{
    font-family: 'Uncial Antiqua', serif;
    font-size:17px;
}

.lista-reglas{

    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:75px;
    margin-bottom: 20px;
}

.reglas-buttons {
    margin: auto;
    position: relative;
    text-align: center;
}
  
/* Alinear los botones de navegación horizontalmente */
.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom:5px;
}
  

.flecha{
    max-width: 35px;
}

#index-button {
    display: inline-block;; 
    margin: 15px auto; 
}

.sword {
    position: absolute;
    width: 300px; /* Ajusta el tamaño de las espadas */
    height: auto;
    opacity: 0.15;
}

.left-sword {
    margin-left: 20;
    top: 50%;
    transform: translateY(-50%);
}

.right-sword {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.stats{
    font-weight: bold;
}

/*REGLAS FIN*/