@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

:root {

    /* FUENTES */
    --TITLE-FONT-FAMILY: "Jacquard 12", serif;
    --TEXT-FONT-FAMILY: "Times New Roman", Times, serif;

    /* COLORES */
    --COLOR-DARK-1: rgb(33, 37, 41);
}

body {
    font-family: var(--TEXT-FONT-FAMILY);
    color: var(--COLOR-DARK-1);
}

.title {
    font-family: var(--TITLE-FONT-FAMILY);
}

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.preview {
    object-fit: cover;
    width: 10%;
    height: 100px;
    border-radius: 10px;
}

/* PÁGINA DE INICIO */

#homepage-main-container {
    width: 100%;
    height: 70%;
}

#title {
    font-family:  var(--TEXT-FONT-FAMILY);
    margin-bottom: 0;
}

#keywords-container {
    margin-top: -15px;
    font-weight: bold;
}

#homepage-animation-container {
    position: absolute;
    top: 400px;
    width: 600px;
    height: 100px;
    gap: 30px;
}

#homepage-sword {
    position: absolute;
    z-index: -2;
    opacity: 0.15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg) scale(120%);
}

#homepage-island {
    pointer-events: none;
    width: 600px;
}

#homepage-character-container {
    border-radius: 15px;
    width: 80px;
    border: 1px solid rgb(0, 0, 0);
}

#homepage-character {
    pointer-events: none;
    padding: 0;
}


#particulas {
    width: 200px;
    overflow: hidden;
}

.particula {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    animation: subir 3s linear infinite;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

@keyframes subir {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

/* Degradado en la parte inferior */
.degradado {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgb(247, 230, 199), rgba(230, 205, 173, 0));
    pointer-events: none;
    z-index: -1;
}

/* RANKING */
#ranking-main-container {
    width: 80%;
    margin: 0 auto !important;
    text-align: center;
}

#title-ranking {
    font-family: "Uncial Antiqua", serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #4b3832;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.9);
}

#ranking-description {
    font-family: "EB Garamond", serif;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido */
    border: 3px solid #8c7b75;
    border-radius: 12px;
    padding: 3%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    width: 80%;
    max-width: 1000px;
    text-align: center;
    position: relative;
    margin: 0 auto; /* Centra el contenedor en la página */
}

#ranking-container h1 {
    font-size: 2.5em;
    color: #efb810;
    margin-bottom: 15px;
    font-family: "Uncial Antiqua", serif;
}

/* Contenedor que centra la tabla */
#ranking-table-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    width: 80%; /* Ajuste para que no ocupe todo el ancho */
    max-width: 800px;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.85);
    position: relative;
    margin: 0 auto; /* Centrar la tabla */
}

table::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/ranking/castle_background.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

th, td {
    padding: 12px;
    border: 1px solid #8c7b75;
    text-align: center;
    font-size: 1.1rem;
    color: #1a1a1a;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

th {
    background-color: rgba(232, 226, 212, 0.9);
    color: #4b3832;
    font-size: 1.2em;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: rgba(244, 240, 230, 0.9);
}

tr:hover {
    background-color: rgba(221, 221, 221, 0.9);
}

td img.icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 8px;
}

#ranking-castle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 75vh;
    opacity: 0.8;
    z-index: -2;
}

/* GALERIA INICIO*/

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    background-color: #d68f1d;
    opacity: 0.7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#scrollToTopBtn:hover {
    background-color: #976513;
}

/* Estilos generales para la galería */
#heroes-gallery {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

#heroes-gallery h1 {
    font-family: "Jacquard 12", serif;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

#gallery-description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

/* Estilo de la tarjeta de héroe */

.card {
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;  /* Establecer un ancho fijo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 150px;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;

}

.card-description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
    margin-top: 10px;
}

/* Asegura que las tarjetas se distribuyan en múltiples filas y se ajusten al tamaño de pantalla */
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 250px;  /* Ajustar tamaño para pantallas pequeñas */
        margin-bottom: 20px;
    }
}
#img-gallery-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.08;
    width: 30%;
    height: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.barra {
    width: 240px;
}




/* GALERIA FIN */

/* AUTORES INICIO */

#tituloAutores {
    padding: 15px;
}

.autores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos en el contenedor */
    gap: 20px; /* Espaciado entre cada tarjeta de autor */
    text-align: center; /* Asegura que el texto dentro de cada autor esté centrado */
    
}

.autor {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro de cada autor */
    max-width: 250px; /* Controla el ancho de cada tarjeta de autor */
    padding: 15px;
    background: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.autor-img {
    width: 120px; /* Ajusta el tamaño de la imagen del autor */
    height: 120px;
    border-radius: 50%; /* Hace la imagen circular */
    margin-bottom: 10px;
}

.autor h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #fff; /* Asegura un buen contraste de color */
}

.autor p {
    font-size: 1rem;
    color: #ddd;
    max-width: 200px;
}

.arte {
    margin-top: 40px;
}

/* AUTORES FIN */


/*REGLAS INICIO*/
.reglas{
        width: 80%;
        margin: 0 auto !important;
        padding: 0px 0  !important;
        text-align: center;
}
#rules-title {
    font-family:  var(--TITLE-FONT-FAMILY);
    text-align: center;
}

/* Alinear los botones de navegación horizontalmente */
.navigation {
    display: flex;
    justify-content: center;
    margin-bottom:5px;
}

.flecha{
    max-width: 35px;
}

#index-button {
    display: inline-block;; 
    margin: 15px auto; 
}


.stats{
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Fondo más oscuro cuando está activo */
    color: white !important; /* Asegura que el texto sea blanco en estado activo */
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1); /* Asegura que siga blanca cuando está activo */
}

.link {
    color: #55a961;
}

#rules-container, #credits-container {
    max-width: 800px;
}


/*REGLAS FIN*/

.stat {
    max-width: 100%;
}

.unit-img {
    width: 200px !important;
}

/*COMIEZNO PROFILE*/
/* Estilos solo para la vista con .profile-body */
.profile-body {
    background-color: #f4f6f9; /* Un gris suave de fondo */
    font-family: 'Uncial Antiqua', sans-serif;
    color: #333;

}

.profile-body .user{
    padding-left: 5% !Important;
    padding-right: 5% Impor !Important;
    padding-top:2%;
    padding-bottom:2%;
}
/* Estilo para la imagen de perfil en .profile-body */
.profile-body .profile-pic img {
    width: 15%;
    height: 15%;
    margin-bottom: -8%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ccc; /* Bordes sutiles */
    transition: transform 0.3s ease;
    background-color: white;
    z-index:10 !important;
    position:relative;
}

/* Estilo de las tarjetas dentro de .profile-body */
.profile-body .bot-user {
    background-color:gray;
    display: flex;  /* Usamos flexbox para organizar los elementos en una fila */
    justify-content: space-between;  /* Distribuye los elementos de manera equitativa en la fila */
    align-items: center;  /* Alinea los elementos verticalmente en el centro */
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan si no caben en una sola fila */
    gap: 10px;  /* Separación de 10px entre los elementos */
    
}
.profile-body .img-fluid{
    max-height: 100px;
}
.profile-body .card{
    background-color:white!important;
    z-index: 1;
   max-height:5%;
   
  
}
.profile-body h3 {
    color: var(--COLOR-DARK-1) !important;
}

/* Estilo para el modal de cambiar foto de perfil */
.profile-body .modal-content {
    background-color: #2d2d2d; /* Fondo oscuro para el modal */
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.profile-body .modal-header .modal-title {
    font-size: 1.8rem;
}

.profile-body .modal-body .d-flex label {
    margin-bottom: 15px;
}

.profile-body .modal-body .btn-check:checked + img {
    border: 3px solid #4CAF50; /* Resaltar la imagen seleccionada */
}

/* Estilos de botones dentro del perfil */
.profile-body .btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.profile-body .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.profile-body .btn-close-white {
    background-color: transparent;
    border: none;
    color: white;
}

/*FINAL PROFILE*/

/* JUEGO INICIO */
.game-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#prototype-game-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita que se muestre el scroll */
}

#game-page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.game-page .degradado { /* POR SI QUIERO MODIFICARLO UN POQUITO VALE */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Degradado chido */
    height: 150px; /* Altura del degradado */
    border-radius: 0 0 20px 20px; /* Bordes redondeados abajo */
}
/* JUEGO FIN */


/* --- PARTIDA --- */

#round-info-container {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

.unit-name {
    font-size: 0.75rem;
}

#round-name {

    width: 200px;
    height: 40px;

    background-color: var(--COLOR-DARK-1);
    color: white;
    border-radius: 0px 0px 10px 10px;
}

#round-timer {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);

    width: 100px;
    height: 30px;

    background-color: #feb47b;
    color: white;

    border-radius: 0px 0px 10px 10px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        box-shadow: 0px 0px 100px rgb(13, 0, 161);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
}


#round-panel {
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -100%);
    
    width: 300px;
    height: 50px;

    background-color: var(--COLOR-DARK-1);
    color: white;

    border-radius: 10px;
    z-index: 9999 !important;

    font-family: var(--TITLE-FONT-FAMILY);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;

    opacity: 0;
    animation: fadeOut 2.5s ease-out;
}



#player-objects-container {
    width: 80px;
    height: 390px;

    position: absolute;
    top: 100px;
    left: 0;

    background-color: var(--COLOR-DARK-1);
    border-radius: 0px 10px 10px 0px;
}

#opponent-object-container img {
    pointer-events: none;
}

#opponent-object-container {
    width: 80px;
    height: 390px;

    position: absolute;
    top: 100px;
    right: 0;

    background-color: var(--COLOR-DARK-1);
    border-radius: 10px 0px 0px 10px;
}

.object-cell {
    width: 35px;
    height: 35px;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
}

.object-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#players-units-container {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%);

    width: 1150px;
    height: 200px;

    justify-content: center;
    gap: 100px;
}

@media (max-width: 1199px) {

    .unit-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #players-units-container {
        top: 100px;
        gap: 80px;
        width: 300px;
    }

    #player-units-container {
        width: 95px !important;
    }

    #opponent-units-container {
        width: 95px !important;
    }

    #player-profiles-container {
        gap: 300px !important;
    }

    .unit-object-container {
        flex-direction: column;
        position: absolute;
    }

    #player-units-container .unit-object-container {
        top: 0px;
        left: -30px;
    }

    #opponent-units-container .unit-object-container {
        top: 0px;
        right: -30px;
    }

    .missing-unit {
        height: 105px !important;
        width: 70px !important;
        margin: 0 0 10px 0 !important;
    }

    #game-versus {
        top: 160px !important;
        font-size: 3rem !important;
    }

    #player-stats-container {
        flex-direction: row !important;
        height: 50px !important;
        width: 200px !important;
    }

    .unit-game-img {
        width: 95px !important;
    }

    .unit-stats {
        height: 20px;
    }

    .unit-container:has(.missing-unit) {
        display: flex;
        align-items: center;
        height: 115px;
    }

    .unit-container .progress {
        top: 15px !important;
        height: 10px !important;
    }

    #player-profile-container, #opponent-profile-container {
        width: 110px;
    }

    .shop-unit {
        height: 100px !important;
        width: 120px !important;
    }
    
    #shopOffcanvas {
        max-width: 250px;
    }


}

.hidden {
    display: none;
}

.sold, .closed {
    opacity: 0.5;
    pointer-events: none;
}

.no-click {
    pointer-events: none;
}

.media-btn {
    position: fixed;
    bottom: 0px;
    width: 100px;
    height: 50px;
    background-color: var(--COLOR-DARK-1);
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.media-btn:hover {
    background-color: burlywood;
    transition: 0.3s;
    color: var(--COLOR-DARK-1);
}

#shop-media-btn {
    border-radius: 0 10px 0 0;
}

#chat-media-btn {
    right: 0px;
    border-radius: 10px 0 0 0;
}


#players-units-container .object-cell {
    border-color: var(--COLOR-DARK-1);
}

.unit-container {
    text-align: center;
    position: relative;
}

.missing-unit {
    margin: 0px 5px 12px 0px;

    width: 105px;
    height: 129px;
    border: 1px solid var(--COLOR-DARK-1);
    border-style: dashed;
    border-radius: 10px;

    animation: blink 3s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.6;
    }
}

.unit-stats {
    position: relative;
}

.unit-container .progress {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 70px !important;
    height: 15px;
    top: 25px;
    z-index: 1;

}

.unit-life {
    width: 80px;
}

.unit-game-img {
    width: 115px;
    z-index: -1;
}

.shop-unit-game-img {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#opponent-units-container .unit-game-img {
    transform: rotateY(180deg);
}

#game-versus {
    font-family: var(--TITLE-FONT-FAMILY);
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%);

    font-size: 4rem;
}

.win-effect {
    animation: win 1s ease-in-out;
}

@keyframes win {
    0% {
        filter: brightness(3);
        transform: scale(1.4);
    }
    100% {
    }
}


#player-units-container {
    justify-content: flex-end !important;
}

#player-profiles-container {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translate(-50%);
    gap: 175px;
}

#player-profiles-container h3 {
    font-family: var(--TITLE-FONT-FAMILY);
}

.section-title {
    font-family: var(--TITLE-FONT-FAMILY);
    position: absolute;
    top: -40px;
}

#shop-container {

    width: 600px;
    height: 200px;
    background-color: var(--COLOR-DARK-1);

    position: fixed;
    bottom: 0px;
    left: 0;

    border-radius: 0 10px 0 0;
    padding: 20px;

}

#shop-container .section-title {
    right: 10px;
}

#chat-container .section-title {
    left: 10px;
}

.selected {
    background-color: rgba(0, 10, 191, 0.322);
    animation: blink 1.5s infinite;
}

.selectable {
    background-color: #1a1a1a;
    animation: blink 1.5s infinite;;
}



.shop-unit {
    position: relative;
    width: 100px;
    height: 150px;
    border: 1px solid white;
    border-radius: 10px;
}

.shop-unit:hover, .object-cell:hover, .refresh-btn:hover, .send-btn:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: inset 0px 0px 15px 5px rgba(255, 255, 255, 0.8);
}

.attack-move {
    transition: transform 0.2s ease-in-out;
    transform: translateX(10px);
}

.shop-value-container {
    color: whitesmoke;
    width: 40px;
    background-color: var(--COLOR-DARK-1);
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 5px;
    gap: 4px;
}

#player-stats-container .shop-value-container {
    border: 1px solid whitesmoke;
    position: initial;
}

.light-text {
    color: whitesmoke;
    margin: 0;
}

.value-num {
    height: 10px;
}

.value-img {
    margin: 0 !important;
}

.object-shop {
    position: relative;
    width: 50px !important;
    height: 50px !important;
}

.refresh-btn {
    width: 120px;
    height: 50px;
    position: relative;
    color: white;
    background-color: rgba(0, 10, 191, 0.322);
    border: 1px solid white;
    border-radius: 10px;    

}

.refresh-btn:hover #refresh-icon {
    transform: rotate(360deg);
    transition:0.5s ease-in-out;
}


.refresh-btn .shop-value-container {
    top: 50px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
}

#player-stats-container {
    width: 70px;
    height: 200px;
    background-color: var(--COLOR-DARK-1);

    position: fixed;
    z-index: 20;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    border-radius: 10px 10px 0 0;

    align-items: end;
}

#game-position {
    color: white;
    font-weight: bold;
    margin-bottom: 0 !important;
}

/* Estilo para el contenedor del chat */
#chat-container {
    width: 600px;
    height: 200px;
    background-color: var(--COLOR-DARK-1);
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 10px 0 0 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-message {
    margin-bottom: 5px;
    font-size: 0.9rem;
    line-height: 1.2;
}

.chat-username {
    color: #feb47b;
    font-weight: bold;
}

.chat-text {
    color: #ffff;
}

#chat-box {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

#chat-input-container {
    display: flex;
    align-items: center;
}

#chat-input {
    flex-grow: 1;
    height: 35px;
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 7px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-right: 10px;
}

.send-btn {
    width: 80px;
    height: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-messages-container {
    color:whitesmoke !important;
    height: 120px;
    overflow-y: auto;
    padding-right: 10px;
}

.info-container {
    align-items: baseline;
    height: 24px;
}

.user-emisor {
    font-weight: bold;
}
.timestamp {
    font-size: 0.8rem;
}

.message-text {
    font-size: 0.8rem;
    opacity: 0.7;
} 

#message-input-chat {

    position: fixed;
    bottom: 20px;
    right:80px;
    width: 500px;
    height: 35px;
    color: whitesmoke;

    background-color: transparent;

    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 7px;
    font-size: 0.8rem;
    opacity: 0.7;
}

/* --- LOGIN --- */

#login-container {
    margin-top: 100px;
}
.form-signin-heading {
    font-family: var(--TITLE-FONT-FAMILY);
}

#login-btn {
    border: 1px solid #55a961;
    color: #55a961;
}

#login-btn:hover {
    color: white;
    background-color: var(--COLOR-DARK-1);
    transition: 0.5s;
}


/*ADMIN*/
.containerAdmin {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.sectionAnadir {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 75%;
    margin: 50px auto;
}

.section h2 {
    margin-bottom: 20px;
}

.sectionEliminar{
    width: 75%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 50px auto;
}

.divider {
    margin: 40px 0;
    border-top: 2px solid #ddd;
}

.adminTitle{
    font-family: "Uncial Antiqua", serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top:20px;
    margin-left:50px;
}

.sectionBuscarUsuarios{
    width: 75%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 50px auto;
}

.sectionFiltrarUsuarios{
    width: 75%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 50px auto;
}

.filtrosUsuarios{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    width: 100%; 
}

#partidas-actuales { order: 1; }
#usuarios-reportados { order: 2; }
#partidas-terminadas { order: 3; }
#busqueda-perfiles { order: 4; }

#credits-info-container {
    justify-content: center;
    gap: 70px;
    border: 1px solid var(--COLOR-DARK-1);
    border-radius: 10px;
    padding: 20px 40px;
}

.tooltip-box {
    position: absolute;

    left: 100px;
    color: blue;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    width: 150px;
    display: none;
    z-index: 10;
}

.object-cell:hover .tooltip-box {
    display: block;
}

@keyframes flash {
    0% { background-color: rgb(255, 255, 255); }
    100% { background-color: transparent; }
}

.flash-effect {
    animation: flash 0.4s ease-out;
}


.navbar-facciones {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.navbar-facciones ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navbar-facciones ul li {
    display: inline;
    margin: 0 15px;
}

.navbar-facciones ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-facciones ul li a:hover {
    background-color: #575757;
}


.navbar-facciones {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

.navbar-facciones ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navbar-facciones ul li {
    display: inline;
    margin: 0 15px;
    position: relative;
}

.navbar-facciones ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-facciones ul li a:hover {
    background-color: #575757;
}

.navbar-facciones ul li:last-child {
    margin-left: 30px; 
}

.navbar-facciones ul li:last-child::before {
    content: "";
    position: absolute;
    left: -15px; 
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #868377; 
}


/* General */
/* Contenedor de cartas */
#heroesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center;
    width: 100%; 
}

.cardAdmin {
    flex: 0 0 calc(33.333% - 1rem); 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

/* Imagen */
.cardAdmin img {
    max-height: 150px;
    object-fit: cover;
    align-self: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

/* Título */
.cardAdmin-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

/* Formulario */
.cardAdmin-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cardAdmin-form .form-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cardAdmin-form .form-row .form-group {
    flex: 1;
}

.cardAdmin-form .form-label {
    font-size: 0.9rem;
    font-weight: bold;
}

.cardAdmin-form .form-control {
    font-size: 0.85rem;
    padding: 0.4rem;
    height: auto;
}

/* Descripción */
.cardAdmin-description {
    font-size: 0.9rem;
    color: #6c757d;
    margin-top: 1rem;
    text-align: justify;
}

/* Botones */
.cardAdmin .btn {
    font-size: 0.9rem;
    padding: 0.5rem;
}

.cardAdmin .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
}

.cardAdmin .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Pantallas pequeñas */
@media (max-width: 768px) {
    .cardAdmin {
        width: 100%; /* Una carta por fila */
    }
}

#finding-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 20px;
    text-align: center;
    font-family: var(--TITLE-FONT-FAMILY);
}