<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/autores.css">
    <th:block th:replace="~{fragments/head :: header}" />
    <title>LLTactics - Créditos</title>
</head>
<body>
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="container mt-5 d-flex flex-column justify-content-center align-items-center" id="credits-container">

        <h1 class="display-1 title mt-3">Créditos</h1>
            
        <div class="d-flex" id="credits-info-container">
            <div>
                <h2 class="title">Desarrolladores</h2>
                <ul>
                    <li>Samuel Carrillo</li>
                    <li>David Cendejas</li>
                    <li>Sandra Sanz</li>
                    <li>Iván Toribio</li>
                    <li>Javier Martín</li>
                </ul>
            </div>
            <div>
                <h2 class="title">Arte</h2>
                <a href="https://github.com/wesnoth/wesnoth/tree/master" target="_blank" class="text-decoration-none">
                    wesnoth
                </a>
            </div>
            
            
        </div>
        <img src="/img/credits/icon-hotseat.png" class="mt-4">
    </main>
    
    <!-- Degradado en la parte inferior -->
    <div class="degradado"></div>
    
    <!-- Pie de página -->
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>
</html>