<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <th:block th:replace="~{fragments/head :: header}" />
    <title>LL Tactics - Galería de Héroes</title>
</head>

<body class="h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div class="container">

        <!-- Título de la galería -->
        <h1 class="mt-5 title display-1">Galería de Héroes</h1>

        <!-- Descripción de la Galería -->
        <div id="gallery-description">
            ¡Conoce a los héroes más valientes y a las criaturas más temidas del reino!
        </div>

        <!--Facciones-->
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Humanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Goblins</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dragones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-disabled="true">Criaturas legendarias</a>
            </li>
        </ul>

        <div id="heroes-gallery" class="container d-flex flex-column align-items-center justify-content-center text-center mt-2">

            <div class="card">
                <img src="/img/units/humans/1. Tanque/heavyinfantry.png" class="card-img-top" alt="Tanque">
                <div class="card-body">
                    <h5 class="card-title">Tanque</h5>

                    <!--Estadísticas-->
                    <div class="unit-stats d-flex flex-column gap-2">

                        <div class="d-flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>
                            <div class="progress w-100" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-success" style="width: 25%">25%</div>
                            </div>
                        </div>

                        <div class="d-flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-fill" viewBox="0 0 16 16">
                                <path d="M5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                            </svg>
                            <div class="progress w-100" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
                            </div>
                        </div>

                        <div class="d-flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <div class="progress w-100" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
                            </div>
                        </div>

                        <div class="d-flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                            </svg>
                            <div class="progress w-100" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar bg-danger" style="width: 100%">100%</div>
                            </div>
                        </div>
                    </div>
                
                    
                    <!--Descripción-->
                    <p class="card-text mt-3"><small class="text-body-secondary">Es la primera línea de defensa, con una armadura impenetrable y una gran resistencia al daño.</small></p>
                </div>
            </div>
        </div>
    </div>
    


    <div id="heroes-gallery" class="container d-flex flex-column align-items-center justify-content-center text-center mt-5">

       

       
        <div class="container mt-5">
            <h1 id="title-gallery" class="display-gallery">Humanos</h1>
        </div>

        <!-- Aquí empieza la tabla de la galería de héroes -->
        <div id="gallery-container" class="d-flex flex-wrap justify-content-center">
            <!-- HUMANOS -->

            
            <div class="card">
                <img src="/img/units/humans/2. General/general.png" class="card-img-top" alt="General de guerra">
                <div class="card-body">
                    <h5 class="card-title">General de guerra</h5>
                    <p class="card-text">Vida: 200 | Daño: 70 | Velocidad: 40 | Armadura: 80</p>
                    <p class="card-description">Un estratega nato, el General de Guerra lidera a sus tropas con determinación y fuerza en el campo de batalla.</p>
                </div>
            </div>
            
            <div class="card">
                <img src="/img/units/humans/3. Caballero/knight.png" class="card-img-top" alt="Caballero">
                <div class="card-body">
                    <h5 class="card-title">Caballero</h5>
                    <p class="card-text">Vida: 180 | Daño: 85 | Velocidad: 50 | Armadura: 60</p>
                    <p class="card-description">Ágil y feroz en combate, el Caballero usa su espada y escudo para atacar y defender con precisión.</p>
                </div>
            </div>
            
            <div class="card">
                <img src="/img/units/humans/4. Arquero/longbowman-bow-attack-1.png" class="card-img-top" alt="Arquero">
                <div class="card-body">
                    <h5 class="card-title">Arquero</h5>
                    <p class="card-text">Vida: 120 | Daño: 95 | Velocidad: 70 | Armadura: 30</p>
                    <p class="card-description">Con una puntería letal, el Arquero es capaz de eliminar enemigos a distancia con precisión quirúrgica.</p>
                </div>
            </div>
            
            <div class="card">
                <img src="/img/units/humans/5. Mago/white-mage.png" class="card-img-top" alt="Mago">
                <div class="card-body">
                    <h5 class="card-title">Mago</h5>
                    <p class="card-text">Vida: 140 | Daño: 110 | Velocidad: 60 | Armadura: 20</p>
                    <p class="card-description">Un maestro de la magia arcana, el Mago canaliza poderosos hechizos para derrotar a sus enemigos desde la distancia.</p>
                </div>
            </div>
        </div>

        <!-- DRAGONES -->

        <div class="container mt-5">
            <h1 id="title-gallery" class="display-gallery">Dragones</h1>
        </div>

        <div id="gallery-container" class="d-flex flex-wrap justify-content-center">
            <div class="card">
                <img src="/img/units/dragons/1. DTanque/enforcer-blade.png" class="card-img-top" alt="Tanque">
                <div class="card-body">
                    <h5 class="card-title">Dragón Tanque</h5>
                    <p class="card-text">Vida: 350 | Daño: 40 | Velocidad: 20 | Armadura: 120</p>
                    <p class="card-description">El Dragón Tanque es una fortaleza viviente con una armadura impenetrable, diseñado para absorber grandes cantidades de daño.</p>
                </div>
            </div>

            <div class="card">
                <img src="/img/units/dragons/2. DBerserker/clasher-blade.png" class="card-img-top" alt="Berserker">
                <div class="card-body">
                    <h5 class="card-title">Berserker</h5>
                    <p class="card-text">Vida: 250 | Daño: 90 | Velocidad: 45 | Armadura: 50</p>
                    <p class="card-description">El Berserker es una furia desatada en el campo de batalla, con ataques devastadores a costa de una defensa reducida.</p>
                </div>
            </div>
            
            <div class="card">
                <img src="/img/units/dragons/3. DAlabarda/warden.png" class="card-img-top" alt="Guardián">
                <div class="card-body">
                    <h5 class="card-title">Guardián</h5>
                    <p class="card-text">Vida: 280 | Daño: 75 | Velocidad: 35 | Armadura: 90</p>
                    <p class="card-description">Con su alabarda mágica, el Guardián equilibra ataque y defensa, protegiendo a sus aliados con su imponente presencia.</p>
                </div>
            </div>
            
            <div class="card">
                <img src="/img/units/dragons/4. DGris/burner.png" class="card-img-top" alt="Incinerador">
                <div class="card-body">
                    <h5 class="card-title">Incinerador</h5>
                    <p class="card-text">Vida: 200 | Daño: 110 | Velocidad: 50 | Armadura: 40</p>
                    <p class="card-description">El Incinerador es un dragón de fuego que abrasa todo a su paso con llamas intensas y ataques explosivos.</p>
                </div>
            </div>
            
            <div class="card">
                <img src="/img/units/dragons/5. DMorado/blademaster.png" class="card-img-top" alt="Espadachín Arcano">
                <div class="card-body">
                    <h5 class="card-title">Dragón Morado</h5>
                    <p class="card-text">Vida: 180 | Daño: 95 | Velocidad: 65 | Armadura: 30</p>
                    <p class="card-description">Especializado en la magia y las runas, el Dragón Morado es un apoyo para su equipo y una amenaza para el contrario.</p>
                </div>
            </div>
        </div>  

        <!--  -->
        <img src="/img/gallery/rune.png" id="img-gallery-bg">

        <!-- Degradado en la parte inferior -->
        <div class="degradado"></div>

        <!-- Pie de página -->
        <th:block th:replace="~{fragments/footer.html :: footer}" />

        <script type="module" src="/js/homepage-animations.js"></script>
    </body>

</html>
