<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <th:block th:replace="~{fragments/head :: header}" />
    <title>LL Tactics - Galería de Héroes</title>
</head>

<body class="h-100" id="galeria">
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <div class="container">
        <h1 class="mt-5 title display-1">Galería de Héroes</h1>
        <div th:replace="fragments/navFacciones :: navbar-facciones"></div>

        <div id="gallery-description">
            ¡Conoce a los héroes más valientes y a las criaturas más temidas del reino!
        </div>

        <!-- Mostrar mensaje si la lista está vacía -->
        <p
            th:if="${#lists.isEmpty(humanos) && #lists.isEmpty(trolls) && #lists.isEmpty(dragones) && #lists.isEmpty(noMuertos) && #lists.isEmpty(legendarios)}">
            No hay héroes disponibles.</p>

        <!-- IMPLEMENTADOS POR SEPARADO POR SI QUEREMOS HACER UNA VISTA PARA CADA FACCION -->

        <div id="gallery-container" class="d-flex flex-wrap justify-content-center mt-5">
            <!-- Título y héroes humanos -->
            <h2 id="humanos" class="w-100 text-center">Humanos</h2>
            <div id="div-humanos" th:each="heroe : ${humanos}">
                <th:block th:replace="~{fragments/card :: carta(
                    ${heroe.nombre}, 
                    ${heroe.imagen}, 
                    ${heroe.vida}, 
                    ${heroe.armadura}, 
                    ${heroe.daño}, 
                    ${heroe.velocidad}, 
                    ${heroe.descripcion},
                    'heroe'
                )}" />
            </div>
            <!-- Título y héroes trolls -->
            <h2 id="trolls" class="w-100 text-center">Trolls</h2>
            <div th:each="heroe : ${trolls}">
                <th:block th:replace="~{fragments/card :: carta(
                    ${heroe.nombre}, 
                    ${heroe.imagen}, 
                    ${heroe.vida}, 
                    ${heroe.armadura}, 
                    ${heroe.daño}, 
                    ${heroe.velocidad}, 
                    ${heroe.descripcion},
                    'heroe'
                )}" />
            </div>
            <!-- Título y héroes dragones -->
            <h2 id="dragones" class="w-100 text-center">Dragones</h2>
            <div th:each="heroe : ${dragones}">
                <th:block th:replace="~{fragments/card :: carta(
                    ${heroe.nombre}, 
                    ${heroe.imagen}, 
                    ${heroe.vida}, 
                    ${heroe.armadura}, 
                    ${heroe.daño}, 
                    ${heroe.velocidad}, 
                    ${heroe.descripcion},
                    'heroe'
                )}" />
            </div>
            <!-- Título y héroes no muertos -->
            <h2 id="noMuertos" class="w-100 text-center">No Muertos</h2>
            <div th:each="heroe : ${noMuertos}">
                <th:block th:replace="~{fragments/card :: carta(
                    ${heroe.nombre}, 
                    ${heroe.imagen}, 
                    ${heroe.vida}, 
                    ${heroe.armadura}, 
                    ${heroe.daño}, 
                    ${heroe.velocidad}, 
                    ${heroe.descripcion},
                    'heroe'
                )}" />
            </div>
            <!-- Título y héroes legendarios -->
            <h2 id="legendarios" class="w-100 text-center">Legendarios</h2>
            <div th:each="heroe : ${legendarios}">
                <th:block th:replace="~{fragments/card :: carta(
                    ${heroe.nombre}, 
                    ${heroe.imagen}, 
                    ${heroe.vida}, 
                    ${heroe.armadura}, 
                    ${heroe.daño}, 
                    ${heroe.velocidad}, 
                    ${heroe.descripcion},
                    'heroe'
                )}" />
            </div>
            <!-- Título y objetos -->
            <h2 id="objetos" class="w-100 text-center">Objetos</h2>
            <div th:each="objeto : ${objetos}">
                <!-- EL ÚLTIMO PARÁMETRO ESTÁ PUESTO A MANO, SOLO PARA LA GALERÍA -->
                <th:block th:replace="~{fragments/card :: carta(
                    ${objeto.nombre}, 
                    ${objeto.imagen}, 
                    ${objeto.vida}, 
                    ${objeto.armadura}, 
                    ${objeto.daño}, 
                    ${objeto.velocidad}, 
                    ${objeto.descripcion}, 
                    'objeto'
                )}" />
            </div>
        </div>
        <img src="/img/gallery/rune.png" id="img-gallery-bg">
        <div class="degradado"></div>
        <button id="scrollToTopBtn" onclick="scrollToTop()">Volver Arriba</button>
        <th:block th:replace="~{fragments/footer.html :: footer}" />
    </div>
    <script type="module" src="/js/homepage-animations.js">
    </script>
    <script>
        // Mostrar el botón cuando se hace scroll hacia abajo
        window.onscroll = function () {
            var scrollToTopBtn = document.getElementById("scrollToTopBtn");
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollToTopBtn.style.display = "block";
            } else {
                scrollToTopBtn.style.display = "none";
            }
        };

        // Función para subir al inicio de la página
        function scrollToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>

</html>