<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Gestionar Usuarios</title>
</head>

<body>
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <h1 class="adminTitle">Gestión de Usuarios</h1><br>
    <div class="degradado"></div>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>