<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Gestionar Héroes</title>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    <h1 class="adminTitle text-center">Gestión de Héroes</h1><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <!-- Apartado para añadir héroes -->
                <div class="section">
                    <h2>Añadir Héroe</h2>
                    <form action="#" method="post" class="needs-validation" id="formAnadirHeroe" novalidate>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre del Héroe</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                            <div class="invalid-feedback">
                                Por favor, introduce el nombre del héroe.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="vida" class="form-label">Vida</label>
                            <input type="number" class="form-control" id="vida" name="vida" step="0.01" min="0" required>
                            <div class="invalid-feedback">
                                Por favor, introduce un valor válido para la vida.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="armadura" class="form-label">Armadura</label>
                            <input type="number" class="form-control" id="armadura" name="armadura" step="0.01" min="0" required>
                            <div class="invalid-feedback">
                                Por favor, introduce un valor válido para la armadura.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="velocidadAtaque" class="form-label">Velocidad de Ataque</label>
                            <input type="number" class="form-control" id="velocidadAtaque" name="velocidadAtaque" step="0.01" min="0" required>
                            <div class="invalid-feedback">
                                Por favor, introduce un valor válido para la velocidad de ataque.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="daño" class="form-label">Daño</label>
                            <input type="number" class="form-control" id="daño" name="daño" step="0.01" min="0" required>
                            <div class="invalid-feedback">
                                Por favor, introduce un valor válido para el daño.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="rutaPng" class="form-label">Ruta del PNG</label>
                            <input type="text" class="form-control" id="rutaPng" name="rutaPng" required>
                            <div class="invalid-feedback">
                                Por favor, introduce la ruta del PNG.
                            </div>
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                            <div class="invalid-feedback">
                                Por favor, introduce la descripcion.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="faccionAnadir" class="form-label">Facción</label>
                            <select class="form-select" id="faccionAnadir" name="faccionAnadir" required>
                                <option value="0">Humanos</option>
                                <option value="1">Dragones</option>
                                <option value="2">Trolls</option>
                                <option value="3">No Muertos</option>
                                <option value="4">Legendarios</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecciona una facción.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Añadir Héroe</button>
                    </form>
                </div>

                <hr class="divider">

                <!-- Apartado para eliminar héroes -->
                <div class="section">
                    <h2>Eliminar Héroe</h2>
                    <form action="#" method="post" id="formEliminarHeroe">
                        <div class="mb-3">
                            <label for="faccion" class="form-label">Selecciona la Facción</label>
                            <select class="form-select" id="faccion" name="faccion" required onchange="actualizarHeroes()">
                                <option value="">Selecciona una facción</option>
                                <option value="humanos">Humanos</option>
                                <option value="dragones">Dragones</option>
                                <option value="trolls">Trolls</option>
                                <option value="noMuertos">No Muertos</option>
                                <option value="legendarios">Legendarios</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecciona una facción.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="eliminarHeroe" class="form-label">Selecciona el Héroe a eliminar</label>
                            <select class="form-select" id="eliminarHeroe" name="eliminarHeroe" required>
                                <option value="">Selecciona un héroe</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecciona un héroe para eliminar.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Eliminar Héroe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="degradado"></div>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

<script>
    // Función para actualizar los héroes cuando se cambia la facción
    function actualizarHeroes() {
        const faccion = document.getElementById("faccion").value; // Captura el valor seleccionado
        const heroSelect = document.getElementById("eliminarHeroe");

        if (faccion) {
            fetch(`/admin/gestHeroes/${faccion}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Error al obtener héroes para la facción " + faccion);
                    }
                    return response.json();
                })
                .then(data => {
                    heroSelect.innerHTML = "<option value=''>Selecciona un héroe</option>";
                    data.forEach(hero => {
                        const option = document.createElement("option");
                        option.value = hero.idHeroe;  
                        option.textContent = hero.nombre; 
                        heroSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error("Error al cargar los héroes:", error);
                    heroSelect.innerHTML = "<option value=''>No se pudieron cargar los héroes</option>";
                });
        } else {
            heroSelect.innerHTML = "<option value=''>Selecciona un héroe</option>";
        }
    }

    //AÑADIR HEROES
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("formAnadirHeroe").addEventListener("submit", function (event) {
            event.preventDefault();

            const heroe = {
                nombre: document.getElementById("nombre").value,
                vida: parseFloat(document.getElementById("vida").value),
                armadura: parseFloat(document.getElementById("armadura").value),
                velocidadAtaque: parseFloat(document.getElementById("velocidadAtaque").value),
                daño: parseFloat(document.getElementById("daño").value),
                imagen: document.getElementById("rutaPng").value,
                faccion: parseInt(document.getElementById("faccionAnadir").value),
                descripcion: document.getElementById("descripcion").value
            };

            const csrfToken = document.querySelector('meta[name="_csrf"]').content;
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

            fetch(`/admin/gestHeroes/add`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(heroe)
            })
                .then(response => response.text())
                .then(data => {
                    alert(data); 
                    document.getElementById("formAnadirHeroe").reset(); // Limpiar formulario
                })
                .catch(error => console.error("Error al añadir el héroe:", error));
        });
    });

    //ELIMINAR HEROES
    document.getElementById("formEliminarHeroe").addEventListener("submit", function (event) {
        event.preventDefault();

        const heroSelect = document.getElementById("eliminarHeroe");
        const idHeroe = heroSelect.value;  // Obtiene el valor del select

        console.log("ID del héroe a eliminar:", idHeroe); 

        if (!idHeroe || idHeroe === "undefined") {
            alert("Error: No se ha seleccionado un héroe válido.");
            return;
        }
        const csrfToken = document.querySelector('meta[name="_csrf"]').content;
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        fetch(`/admin/gestHeroes/delete/${idHeroe}`, {
            method: "DELETE",
            headers: {
                [csrfHeader]: csrfToken,
                "Content-Type": "application/json"
            }
        })
            .then(response => response.text())
            .then(data => {
                alert(data);
                actualizarHeroes(); // Recargar la lista de héroes sin recargar la página
            })
            .catch(error => console.error("Error al eliminar el héroe:", error));
    });
</script>

</html>