<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <th:block th:replace="~{fragments/head :: header}" />
    <title>LL Tactics</title>
    <link rel="stylesheet" href="styles.css"> <!-- Enlazamos el archivo CSS -->
</head>
<body>
    <header th:replace="~{fragments/nav.html :: nav}"></header>
    
    <div class="profile-header">
        <div class="profile-info">
            <h2>Arthur</h2>
            <img src="/img/players/arthur.png" alt=""/>
        </div>
        <div class="search-player">
            <input type="text" placeholder="Buscar jugador..."/>
        </div>
    </div>
    
    <div class="profile-stats">
        <div class="stat-item">
            <p>Puntuación de maestría</p>
            <h3>410</h3>
        </div>
        <div class="stat-item">
            <p>Personaje más jugado</p>
            <img src="/img/units/humans/3. Caballero/knight.png" alt="Caballero"/>
        </div>
        <div class="stat-item">
            <p>Facción favorita</p>
            <img src="/img/units/banners/humans.png" alt="Escudo de Humanos"/>
        </div>
        <div class="stat-item chart-container">
            <canvas id="winrateChart"></canvas>
        </div>
    </div>
    
    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx1 = document.getElementById('winrateChart').getContext('2d');
        new Chart(ctx1, {
            type: 'doughnut',
            data: {
                labels: ['Victorias', 'Derrotas'],
                datasets: [{
                    data: [20, 5],
                    backgroundColor: ['#4CAF50', '#F44336']
                }]
            }
        });
    </script>
</body>
</html>
