<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <th:block th:replace="~{fragments/head :: header}" />
    <title>LL Tactics - Ranking</title>
</head>

<body class="h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div id="ranking-main-container" class="container d-flex flex-column align-items-center justify-content-center text-center mt-5">
        <div class="container">
            <img src="/img/homepage/sword.png" alt="Espada" id="homepage-sword">
            <div class="container mt-5">
                <h1 id="title-ranking" class="display-ranking">Ranking</h1>
            </div>
        </div>
        <div id="ranking-description">
            ¡Escala hacia la cima combatiendo y llega al top del Ranking!
        </div>
    </div>

    <!-- Tabla del ranking -->
    <div id="ranking-container">
        <p th:if="${#lists.isEmpty(usuarios)}">No hay usuarios disponibles</p>
        <h1>🏆 Ranking de Guerreros 🏆</h1>
        
        <!-- Contenedor adicional para centrar la tabla -->
        <div id="ranking-table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Jugador</th>
                        <th>Puntuación</th>
                        <th>Partidas Jugadas</th>
                        <th>Victorias</th>
                        <th>Derrotas</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr th:each="user, stat : ${usuarios}" class="clickable-row" th:attr="data-href=@{'/user/viewProfile'(username=${user.username})}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.puntuacion}"></td>
                        <td th:text="${user.partidasGanadas + user.partidasPerdidas}"></td>
                        <td th:text="${user.partidasGanadas}"></td>
                        <td th:text="${user.partidasPerdidas}"></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    

    <div class="degradado"></div>
    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <script type="module" src="/js/homepage-animations.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
          document.querySelectorAll(".clickable-row").forEach(row => {
            row.addEventListener("click", () => {
              const href = row.getAttribute("data-href");
              if (href) {
                window.location.href = href;
              }
            });
          });
        });
      </script>

     
</body>
</html>
