<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Registro</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main id="login-container" class="flex-shrink-0">
        <div class="container w-50">
            <img src="/img/login/login-icon.png" alt="Icono de login">
            <form class="form-signin" method="post" th:action="@{/user/register}">
                <h2 class="form-signin-heading display-4">Registro</h2>

                <p>
                    <label for="firstName" class="visually-hidden"> Nombre </label>
                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Nombre" required="required">
                </p>

                <p>
                    <label for="lastName" class="visually-hidden"> Apellido </label>
                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Apellido" required="required">
                </p>

                <p>
                    <label for="username" class="visually-hidden">Usuario</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required="required">
                </p>

                <p>
                    <label for="password" class="visually-hidden">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required="required" autocomplete="off">
                </p>
                <a th:href="@{/register}">
                <button id="register-btn" class="btn btn-primary" type="submit">Registrar</button>
            </form>
        </div>
    </main>

    <div class="degradado"></div>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>
