<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>LLTactics - Registro</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main id="login-container" class="flex-shrink-0">
        <div class="container w-50">
            <img src="/img/login/login-icon.png" alt="Icono de login">
            <form class="form-signin" method="POST" th:action="@{/user/register}" >
                <h2 class="form-signin-heading display-4">Registro</h2>
            
                <p>
                    <label for="firstName" class="visually-hidden">Nombre</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Nombre" required="required">
                </p>
            
                <p>
                    <label for="lastName" class="visually-hidden">Apellido</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Apellido" required="required">
                </p>
            
                <p>
                    <label for="username" class="visually-hidden">Usuario</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required="required">
                </p>
            
                <p>
                    <label for="password" class="visually-hidden">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required="required" autocomplete="off">
                </p>
            
                <p>
                    <label for="pass2" class="visually-hidden">Confirmar Contraseña</label>
                    <input type="password" id="pass2" name="pass2" class="form-control" placeholder="Confirmar Contraseña" required="required" autocomplete="off">
                </p>
            
                <!-- Selector de fotos de perfil -->
                <p>Selecciona tu foto de perfil:</p>
                <div class="form-group d-flex justify-content-between">
                    <label>
                        <input type="radio" name="idprofilePic" value="1" required>
                        <img src="/user/1/pic" alt="Caballero" class="img-thumbnail" style="width: 100px;">
                    </label>
                    <label>
                        <input type="radio" name="idprofilePic" value="2" required>
                        <img src="/user/2/pic" alt="Dragón" class="img-thumbnail" style="width: 100px;">
                    </label>
                    <label>
                        <input type="radio" name="idprofilePic" value="3" required>
                        <img src="/user/3/pic" alt="Esqueleto" class="img-thumbnail" style="width: 100px;">
                    </label>
                    <label>
                        <input type="radio" name="idprofilePic" value="4" required>
                        <img src="/user/4/pic" alt="Princesa" class="img-thumbnail" style="width: 100px;">
                    </label>
                    <label>
                        <input type="radio" name="idprofilePic" value="5" required>
                        <img src="/user/5/pic" alt="Rey" class="img-thumbnail" style="width: 100px;">
                    </label>
                </div>

                <button id="register-btn" class="btn btn-primary" type="submit">Registrar</button>
            </form>
            
        </div>
    </main>

    <div class="degradado"></div>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>
